.equalizer-main {
    max-width: 144rem;
    background-color: #FCFAF9;
    padding: 2rem 13rem 0;
    position: relative;
    margin: 0 auto;
}

.equalizer-header {
    padding: 1rem 0 10rem 0;
}

.title {
    font-size: 3rem;
    font-weight: 500;
}

.pattern1 {
    width: 25rem;
    position: absolute;
    top: -4rem;
    right: 18rem;
}

.header-blur {
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    position: absolute;
    border: none;
}

.green {
    background-image: linear-gradient( to bottom left, #40FFF6,#ffffff);
    top: 6rem;
    right: 29rem;
    opacity: 28%;
}

.pink1 {
    background-image: linear-gradient(to bottom right, #FF7B40,#ffffff);
    opacity: 25%;
    top: -10rem;
    left: -10rem;
}

.pink2 {
    background-image: linear-gradient(to bottom right, #FF7B40,#ffffff);
    opacity: 10%;
    top: 35rem;
    right: 25rem;
}

.equalizer-headings {
    width: 101rem;
    padding-right: 10rem;
    margin-bottom: 20rem;
}

.heading-top {
    font-size: 5rem;
    line-height: 1;
}

.heading-para {
    font-size: 1.6rem;
    line-height: 1.5;
    padding-right: 19rem;
}

.big-box {
    width: 111rem;
    background-color: #191826;
    height: 60rem;
    border-radius: 1.2rem;
    position: relative;
    margin: 25rem 0;

}

.box-img {
    width: 31rem;
    margin: 2rem auto;

}

.pattern2 {
    width: 31.2rem;
}

.box-phne {
    width: 31.2rem;
    height: 64.2rem;
}

.box-phne-img {
    width: 31.2rem;
    height: 64.2rem;
    position: absolute;
    top: -17rem;
    left: 17rem;
}

.box-smsbox {
    background-color: #FA7453;
    border-radius: 1.2rem;
    width: 44.6rem;
    height: 62.5rem;
    position: absolute;
    right: 5rem;
    top: 12rem;
    padding: 2rem 5rem;
    color: #ffffff;

}

.smsbox-matter {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem auto;
}

.smsbox-heading {
    font-size: 3rem;
}

.smsbox-para {
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.6;
}

.smsbox-bld {
    font-size: 2.5rem;
}

span {
    font-size: 3.5rem;
}

.anchor {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    margin-bottom: 1.5rem;
    width: 33.3rem;
    height: 6.1rem;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.android {
    background-color: #ffffff;
    color: #191826;
}

.apple {
    background-color: #191826;
}

.footer {
    width: 111rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    align-self: self-start;
}

.footer-para {
    width: 36.6rem;
    height: 7.9rem;
    padding-right: 9.6rem;
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
    letter-spacing: 2;
}

.footer-para a:link {
    color: #191826;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    gap: 2rem;
}